<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613560853946-uo27la5h61r62eb9s807oed54mjm7abr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613560853946-uo27la5h61r62eb9s807oed54mjm7abr</string>
	<key>API_KEY</key>
	<string>AIzaSyDdBDcuBGpIN5F9MetZCX3ns4k54SkATlk</string>
	<key>GCM_SENDER_ID</key>
	<string>613560853946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tigr.VK</string>
	<key>PROJECT_ID</key>
	<string>vkdemo-a6797</string>
	<key>STORAGE_BUCKET</key>
	<string>vkdemo-a6797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613560853946:ios:2e7a47225436a507aa2983</string>
	<key>DATABASE_URL</key>
	<string>https://vkdemo-a6797-default-rtdb.firebaseio.com</string>
</dict>
</plist>